/###meta###
%title Static pages index
%meta{name: 'description', content: 'test'}
%meta{name: 'keywords', content: 'test'}
/###end###

/###content###
%h1
  %a{href: '/index.html'} 'Olla, 'Olla!
/###end###
